body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 220px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: navy;
    box-shadow: 0 4px 8px gray;
}

.display {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: right;
}

.previous-operand {
    height: 15px;
    font-size: 12px;
    color: gray;
    overflow: hidden;
}

.current-operand {
    font-size: 22px;
    font-weight: bold;
    color: black;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: black;
}

button {
    border: none;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.number {
    background-color: blue;
    color: white;
}

.number:hover {
    background-color: darkblue;
}

.operator {
    background-color: orange;
    color: black;
}

.operator:hover {
    background-color: darkorange;
}

.equals {
    background-color: red;
    color: white;
}

.equals:hover {
    background-color: darkred;
}

.clear, .delete {
    background-color: tomato;
    color: white;
}

.clear:hover, .delete:hover {
    background-color: red;
}